
div.container {
	padding-top: 25px; 
}

div.menu {
	padding-bottom: 40px; 
}

div.task, div.newTask, div.editTask  {
	padding-bottom: 40px;
}

div.id {
	font-size: 75%;
}

div.modify {
	font-size: 80%;
}

div.time {
	font-size: 80%;
}

textarea.taskText {
	width: 80%;
}